@model PORTAL.DAL.EF.Models.ClassSchedule

@{
    ViewData["Title"] = "Class Schedule";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
@section ContentHeader{
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <small>Class Schedule</small>
            </div>
            <div class="pull-right">
                @{ Html.RenderPartial("_FormCommonHeaderGroup", new FormStatusModel { CreatedById = "Test", CreatedOn = DateTime.Today, Status = Enums.Status.Active }); }
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <input asp-for="Schedule" class="form-control" />
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

